@"
venv/
__pycache__/
*.pyc
*.pth
*.pt
autocomplete_model.pth
backend/best_model.pth
frontend/node_modules/
node_modules/
frontend/dist/
*.exe
*.node
.env
.DS_Store
Thumbs.db
.ipynb_checkpoints/
"@ | Out-File -FilePath ".gitignore" -Encoding utf8